.itemcontainer {
  position: absolute;
  left: 28%;
  top: 5%;
  width: 30%;
  height: 60%;
  
}

.itemHeader {
    top: 20%;
    left: 38%;
    text-align: center;
    width: 25%;
}


.itemImage {
    position: absolute;
    left: 38%;
    top: 28%;
    width: 500px; 
    height: 500px;
    display: inline;
}

.itemText1 {
    position: absolute;
    text-align: center;
    left:38.5%;
    top: 75%;
    width: 25%;
}

.itemText2 {
    position: absolute;
    text-align: center;
    left:48.6%;
    top: 84%;
    font-weight: bolder;
}

.itemDetailStock {
    position: absolute;
    text-align: center;
    left:48.7%;
    top: 86%;
    font-weight: lighter;
}


.itemButtons {
    position: absolute;
    top: 90%;
    left: 44.2%;
    width: 25%;
}

.returnShoppingButton {
    position: absolute;
    top: 90%;
    left: 80%;
    width: 8%;
    height: 5%;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: black;
    color:white;
}

.returnShoppingButton:active {
    transform: translateY(2px);
}

.nextItemButton {
    left: 80%;
}

.previousItemButton {
    left: 20%;
}

.nextItemButton, .previousItemButton {
    position: absolute;
    top: 47%;
    font-size: 40px;
    font-weight: 900;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    border: solid black 1px;
}


