.currentCart {
    width: 9%;
    position: absolute;
    left: 88%;
    top: 10%;
    border-style: groove;
    border-radius: 5%;
    padding: 20px;
    margin-right: 10px;
    font-size: small;
}

.currentCartTotalPrice {
    font-weight: 700;
    font-size: medium;
}

.emptyCartButton {
    margin-left: 20%;
    border-radius: 15px;
    width: 60%;
    height: 35%;
    font-weight: bolder;
    cursor: pointer;
    background-color: darkgray;
}
